h1{
    font-size: 3em;
    margin-top: 0;
}

input{
    margin-bottom: 40px;
}
.additional-info{
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 0.9em;
}

.password-forgotten{
    color: #6c6c6c;
}



